.wrapper {    
    position: fixed;
    right: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 10;
}

.navbar {
    color: #fff;
}

.list_items {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    // top: 50%;
    // transform: translateY(-50%);

}

.item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 50%;
    list-style: none;
    background-color: #2b2a2a;
    position: relative;
    transition: 400ms;

    &.active {
        background-color: var(--primary-color);
    }

    .title {
        color: #fff;
        position: absolute;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform:uppercase; 
        top: 0;
        right: 10px;
        height: 50px;
        padding: 0 25px 0 30px;;
        background-color: var(--primary-color);
        border-radius: 30px;
        opacity: 0;
        z-index: -1;
        display: flex;
        align-items: center;
        transition: 400ms;
    }
    
    &:hover {
        background-color: var(--primary-color);
        
    }

    &:hover .title{
        cursor: pointer;
        right: 30px;
        border-radius: 30px 0 0 30px;
        opacity: 1;

    }

}


// mobile: width < 740px
@media (max-width: 46.1875em){

    .wrapper {
        position: fixed;
        bottom: -6px;
        right: 0;
        padding: 0;
        height: 72px;
        width: 100%;
        align-items: flex-end;
        background-color: darkcyan;
        border-top-left-radius:6px ;
        border-top-right-radius:6px ;

        .navbar {
            width: 100%;

            .list_items {
                flex-direction: row;
                justify-content: center;

                .item {
                    margin: 12px;

                    &:hover .title{
                        right: 0;
                        border-radius: 0;
                        opacity: 1;
                        display: none;
                
                    }
                }
            }
        }
    }

    
}


// tablet: width >= 740px and < 1024px
@media (min-width: 46.25em ) and (max-width: 64.3125em){

}
