.wrapper {
    width: 1200px;
    margin: 0 auto;
    color: var(--white-color);
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-weight: 900;
    position: relative;
    padding: 80px 0;
    color: var(--text-color);

    .header_top {
        font-size: 5.6rem;
    }

    .header_pri {
        color: var(--primary-color);
        
    }

    .header_opa {
        font-size: 11rem;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: 10px;
        line-height: .7;
    }
}

.nav {
    font-size: 1.6rem;
    margin: 0 15px 32px;
    display: flex;
    justify-content: center;
    

    & ul {
        display: flex;
        
        & li {
            margin-right: 12px;
            list-style: none;

            &.all {
                margin-bottom: 10px;
                font-size: 2.2rem;
                font-weight: 900;
                color: var(--primary-color);
            }
        }
    }
}

.items {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;

    .item {
        height: var(--h);
        width: var(--s);
        --h: 230px;
        --s: 376px; // the size of image
        --b: 8px;     /* the border thickness*/
        --g: 14px;    /* the gap */
        --c: #4ECDC4; /* the color */
        border-radius: 10px;
        margin: 19px 12px;
        position: relative;
        // box-shadow: 0px 0px 14px 0px rgba(4, 171, 237, 0.75);
        outline: calc(var(--h)/1.9) solid #0009;
        outline-offset: calc(var(--h)/-1.9);
        cursor: pointer;
        transition: .3s;

        &:hover {
            outline: var(--b) solid var(--c);
            outline-offset: var(--g);
        }
    }

   
    
    .link {
        
        & img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;

        }
    }

}

// project 

.modal_mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // z-index: 5;

    
    .modal_wrapper {
        opacity: 1 !important;
        // width: 678px;
        // height: 600px;
        width: 48%;
        height: 80%;
        color: #fff;
        background: #252525;
        
        // height: auto;
        padding: 2rem;
        border-radius: 1rem;
        // z-index: 5;
        position: relative;

        .modal_close {
            z-index: 10000;
            right: 20px;
            width: 32px;
            height: 32px;
            display: flex;
            position: absolute;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,.9);
            cursor: pointer;
        }

        .modal_container {
        
            .modal_title {
                color: var(--primary-color);
                text-transform: uppercase;
                padding: 10px 0 20px;
                font-weight: 700;
                text-align: center;
                font-size: 33px;
                margin: 0;
            }
            
            .modal_info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 10px;

                & p {
                    margin-bottom: 10px;
                }

                & a {
                    color: var(--primary-color);
                }

            }
            
            .modal_image {
                margin: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    object-fit: cover;
                    width: 90%;
                    height: 370px;        
                    border-radius: 1rem;

                }
            }
        }
    }
}


// mobile: width < 740px 
@media (max-width: 46.1875em) {
    .wrapper {
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(65,176,162,0.42629551820728295) 45%, rgba(0,212,255,1) 100%);


        .header {
            
            padding: 20px 0;

            .header_top {
                font-size: 2.8rem;
            }

            .header_opa {
                font-size: 5rem;
                letter-spacing: 8px;
            }
        }

        .nav {
            font-size: 1.6rem;
        }

        .items {
            margin: 0;
            padding-bottom: 190px;

            justify-content: center;

            .item {
                width: 45%;
                height: 110px;
                margin: 16px 4px;
                border-radius: 10px;
                // margin: 19px 12px;
                position: relative;
                // box-shadow: 0px 0px 14px 0px rgba(4, 171, 237, 0.75);
                outline: 0;
                outline-offset: 0;
                transition: 0s;

                .modal_mask {

                    .modal_wrapper {
                        width: 90%;
                        height: 58%;
                        padding: 0;

                        .modal_close {
                            top: 6px;
                            right: 2px;
                        }

                        .modal_container {

                            .modal_info {
                                text-align: center;
                            }

                            .modal_image {
                                width: 100%;
                                height: 50%;
    
                                & img {
                                    width: 90%;
                                    height: 172px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




