.wrapper {
    width: 1200px;
    margin: 0 auto;
    color: var(--white-color);
}

header {
    position: relative;
    display: flex;
    padding: 80px 0;
    margin: 0 auto;
    justify-content: center;
    font-weight: 900;

    & h1 {
        font-size: 56px;
        font-weight: 900!important;
        color: var(--text-color) !important;
        text-transform: uppercase;
        margin: 0;

        & span {
            color: var(--primary-color);
        }
    }

    .contact {
        top: 50%;
        position: absolute;
        opacity: 0.2;
        line-height: .7;
        font-size: 11rem;
        letter-spacing: 10px;
        transform: translateY(-50%);
    }
}



.container {
    display: flex;
    width: 100%;
    margin-bottom: 120px;
    .left {
        padding: 0 15px;
        width: 40%;
        .title {
            font-size: 2.6rem;
            font-weight: 600;
            margin: 0 0 16px;
        }

        .content {
            font-size: 1.5rem;
            margin: 0 0 28px;
        }

        .item {
            display: flex;
            color: var(--primary-color);
            font-size: 3.3rem;
            align-items: center;
            margin-bottom: 24px;

            .icon {
                font-size: 3.1rem;
            }

            & span {
                font-size: 1.5rem;
                margin-left: 12px;
                line-height: 24px;
                color: var(--white-color);

                & p {
                    opacity: .7;
                }

                & a {
                    font-weight: 700;
                    color: var(--white-color);
                }
            }
        }

        .social {
            font-size: 48px;
            
            .btn_github {
                color: var(--white-color);
            }

            & a {
                margin-right: 12px;
            }
        }

    }

    .right {
        width: 60%;
        display: flex;
        flex-direction: column;

        .input_s , .input_m, .input_l{
            border: 1px solid var(--white-color);
            background: var(--input-color);
            // background: var(--white-color);
            color: var(--text-color);
            padding: 14px 26px;
            border-radius: 30px;
            outline: none!important;
            transition: .3s;
            margin:0 0 20px 10px;
           
            &:focus {
                border: 1px solid var(--primary-color);
            }
        }

        .input_s {
            width: 44%;
        }

        .input_m {
            width: 90%;
        }

        .input_l {
            width: 90%;
            padding: 10px 26px;
            height: 180px;
            overflow: hidden;
            transition: .3s;
            padding-bottom: 150px;

        }

        .contact {
            width: 40%;
            position: relative;
            padding: 16px 70px 16px 35px;
            border: 2px solid var(--primary-color);
            border-radius: 35px;
            color: var(--white-color);
            background-color: transparent;
            font-size: 15px;
            font-weight: 600;
            overflow: hidden;
            margin-left: 12px;
            
    
            &:hover {
                cursor: pointer;
                -webkit-animation: scale-up-right 0.4s linear both;
                animation: scale-up-right 0.4s linear both;
            }
    
            .btn_right {
                width: 50px;
                height: 50px;
                position: absolute;
                border-radius: 50%;
                background-color: var(--primary-color);
                z-index: 1;
                top: 0;
                right: -1px;
                display: flex;
                align-items: center;
                justify-content: center;
    
            }
    
            @keyframes scale-up-right {
                0% {
                    right: 0;
                    background-color: transparent;
                }
                100% {
                    left: 0;
                        background-color: var(--primary-color);
                }
              }
        }

    }

}

// mobile devices
@media (max-width: 46.1875em){
    .wrapper {
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(65deg, rgba(2,0,36,1) 0%, rgba(65,176,162,0.42629551820728295) 45%, rgba(0,212,255,1) 100%);
        
        padding-bottom: 100px;
        .header {
            
            padding: 20px 0;

            & h1 {
                font-size: 2.8rem;

                & span {
                    font-size: 2.8rem;
                }
            }

            .contact {
                font-size: 5rem;
                letter-spacing: 4px;
            }

        }

        .container {
            flex-direction: column;
            margin-bottom: 0 ;

            .left {
                width: 100%;

                .title {
                    font-size: 1.6rem;
                }

                .content {
                    font-size: 1.1rem;
                    margin-bottom: 16px;
                }

                .item {
                    margin-bottom: 14px;
                    
                    & span {
                        font-size: 1.4rem;
                    }
                }

                .social {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 16px;
                }
            }

            .right {
                width: 100%;
                align-items: center;

                & span {
                    width: 100%;

                    & input {
                        width: 46%;
                    }
                }

                .input_m {
                    width: 95%;
                }

                .input_l {
                    width: 95%;
                }

                .contact {
                    margin-top:20px ;
                    width: 54%;
                    padding: 14px 41px 14px 7px;
                    border: 2px solid var(--primary-color);
                    font-size: 15px;
                    font-weight: 600;
                    overflow: hidden;
                    margin-left: 12px;
            
                }
            }
        }
    }
}

